body {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  background-color: #241F98;
  text-align: center;
  overflow-x: hidden;
}

.header {
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 40vw;
}

.header:hover {
  cursor: pointer;
}

.logo {
  width: 100%;
}

nav {
  width: 100vw;
  background-color: #000;
  height: 4vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  width: 23vw;
  border: 1vw solid #000;
  font-size: 2vw;
  line-height: 4vw;
  color: #FFF;
  text-decoration: none;
}

nav a:hover {
  border: 1vw solid #241F98;
  cursor: pointer;
}

.top-photo {
  width: 100vw;
  margin-top: 1vw;
}

img {
  width: 100%
}

.content {
  width: 80vw;
  margin: 0 auto;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-1-about {
  margin-top: 5vw;
  background-color: #FFF;
  border: 5vw solid #04005F;
}

.box-1-about {
  margin-bottom: 5vw;
}

.box-2,
.box-3,
.box-5,
.box-6 {
  width: 27.5vw;
}

.box-2,
.box-5 {
  margin-right: 5vw;
}

.box-3,
.box-5,
.box-7 {
  background-color: #04005F;
}

.row-2,
.row-4 {
  display: flex;
}

.box-8 {
  height: 18vw;
  margin-top: -5vw;
  margin-bottom: 5vw;
}

.box-4 {
  height: 14vw;
}

h1 {
  font-size: 9vw;
  margin: 0;
}

h2 {
  font-size: 3.5vw;
  margin: 0;
}

p {
  font-size: 2vw;
  margin: 0;
}

.welcome {
  font-size: 6vw;
}

.audio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 7vw;
  background-color: #04005F;
  margin: 0 auto;
  margin-bottom: 3vw;
}

.button {
  background-color: #04005F;
  color: #FF8900;
  font-size: 2vw;
  text-decoration: none;
  border: none;
  padding: 1vw 2vw 1vw 2vw;
}

.button:hover {
  background-color: #FF8900;
  color: #04005F;
  cursor: pointer;
}

.index-head-1,
.index-body-1 {
  width: 24vw;
  margin: 0 auto;
}

.index-body-1,
.index-body-2 {
  margin-bottom: 1.5vw;
}

.paragraph {
  width: 94%;
  margin: 0 auto;
}

.start {
  margin-bottom: 3vw;
}

.split,
.split-2 {
  width: 30vw;
  text-align: right;
}

.split-2 {
  text-align: left;
}

.about-1 {
  width: 25vw;
  background-color: #04005F;
  border: 3vw solid #04005F;
  margin-left: 3vw;
  margin-bottom: 2vw;
}

.about-2 {
  width: 25vw;
  background-color: #04005F;
  border: 3vw solid #04005F;
  margin-right: 3vw;
  margin-bottom: 2vw;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 7vw;
}

iframe {
  width: 60vw;
  height: 35vw;
  margin-top: 5vw;
  margin-bottom: 3vw;
  border: 3vw solid #04005F;
  background-color: #04005F;
}

.type-1,
.type-2 {
  display: flex;
  margin-bottom: 5vw;
}

.left1,
.right2 {
  background-color: #FFF;
  color: #000;
  border: 5vw solid #04005F;
  width: 35vw;
}

.left1 {
  border-right: 0;
}

.right2 {
  border-left: 0;
}

.right1,
.left2 {
  background-color: #04005F;
  width: 30vw;
  border: 5vw solid #04005F;
}

.doctor-info {
  font-size: 1.4vw;
  width: 90%;
  margin: 0 auto;
}

.episode-guide {
  margin: 0 auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  border: 5vw solid #04005F;
}

.doctorbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: gill-sans-nova, sans-serif;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5vw;
  margin: 0 auto;
  background-color: #FFF;
  color: #000;
  border: none;
}

.doctorbutton:hover {
  background-color: #04005F;
  color: #FF8900;
  cursor: pointer;
}

#first-episodes,
#second-episodes,
#third-episodes,
#fourth-episodes,
#fifth-episodes,
#sixth-episodes,
#seventh-episodes,
#eighth-episodes,
#ninth-episodes,
#tenth-episodes,
#eleventh-episodes,
#twelfth-episodes,
#thirteenth-episodes {
  display: none;
}

#first-episodes.visible,
#second-episodes.visible,
#third-episodes.visible,
#fourth-episodes.visible,
#fifth-episodes.visible,
#sixth-episodes.visible,
#seventh-episodes.visible,
#eighth-episodes.visible,
#ninth-episodes.visible,
#tenth-episodes.visible,
#eleventh-episodes.visible,
#twelfth-episodes.visible,
#thirteenth-episodes.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.episode {
  background-color: #000;
  font-size: 2vw;
  color: #FFF;
  width: 100%;
  text-align: center;
}

.start {
  font-size: 1.4vw;
}

.where-to-start {
  width: 35vw;
}

.box-2-start,
.box-3-start {
  background-color: #FFF;
  border: 5vw solid #04005F;
  margin-bottom: 5vw;
  display: flex;
  align-items: center;
}

.box-2-start p,
.box-3-start p {
  width: 32vw
}
