body {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  background-color: #241F98;
  text-align: center;
}

.header {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 613px;
  height: 111px;
}

.header:hover {
  cursor: pointer;
}

.logo {
  width: 100%;
}

.menu {
  width: 100vw;
  background-color: #000;
}

nav {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  width: 25%;
  border: 20px solid #000;
  font-size: 35px;
  line-height: 64px;
  color: #FFF;
  text-decoration: none;
}

nav a:hover {
  border: 20px solid #241F98;
  cursor: pointer;
}

.top-photo {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
}

.box-1,
.box-4,
.box-7,
.box-8 {
  background-color: #FFF;
  color: #000;
  width: 80vw;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  border: 80px solid #04005F;
}

.box-1 {
  height: 25vw;
}

.box-4 {
  height: 18vw;
}

h2 {
  font-size: 4vw;
  margin: 0;
}

.welcome {
  font-size: 6vw;
}

p {
  font-size: 2vw;
  margin: 0;
}

h1 {
  font-size: 10vw;
  margin: 0;
}

.row-2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
}

.row-4 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
}

.box-2,
.box-3,
.box-5,
.box-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  color: #000;
  text-align: center;
  width: 45%;
  height: 30vw;
  border: 80px solid #04005F;
  margin-top: 80px;
}

.box-2,
.box-5{
  margin-right: 5vw;
}

.box-3,
.box-6{
  margin-left: 5vw;
}

.box-3,
.box-5 {
  background-color: #04005F;
}

.button {
  background-color: #04005F;
  color: #FF8900;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2vw;
  text-decoration: none;
  border: none;
  padding: 10px 50px 10px 50px;
}

.button:hover {
  background-color: #FF8900;
  color: #04005F;
  cursor: pointer;
  border: none;
}

.box-7,.box-8 {
  width: 80vw;
}

.box-7 {
  margin-bottom: -80px;
  background-color: #04005F;
}

.box-8 {
  height: 430px;
  margin-top: 0px;
  margin-bottom: 80px;
}

.bottom-photo {
  width: 100%;
  background-color: #00FFD8;
}

.index-head-1,
.index-head-2 {
  font-size: 4vw;
}

.index-body-1 {
  font-size: 2vw;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
}

.index-body-2 {
  margin-bottom: 50px;
}

.episode-guide {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 80px solid #04005F;
  width: 80vw;
}

.doctorbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: gill-sans-nova, sans-serif;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  margin: 0 auto;
  background-color: #FFF;
  color: #000;
  border: none;
}

.doctorbutton:hover {
  background-color: #04005F;
  color: #FF8900;
  cursor: pointer;
}

#first-episodes,
#second-episodes,
#third-episodes,
#fourth-episodes,
#fifth-episodes,
#sixth-episodes,
#seventh-episodes,
#eighth-episodes,
#ninth-episodes,
#tenth-episodes,
#eleventh-episodes,
#twelfth-episodes,
#thirteenth-episodes {
  display: none;
}

#first-episodes.visible,
#second-episodes.visible,
#third-episodes.visible,
#fourth-episodes.visible,
#fifth-episodes.visible,
#sixth-episodes.visible,
#seventh-episodes.visible,
#eighth-episodes.visible,
#ninth-episodes.visible,
#tenth-episodes.visible,
#eleventh-episodes.visible,
#twelfth-episodes.visible,
#thirteenth-episodes.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.episode {
  background-color: #000;
  font-size: 65px;
  color: #FFF;
  width: 100%;
  height: 80px;
  text-align: center;
}

.last {
  padding-bottom: 10px;
}

.type-1 {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
}

.left1 {
  background-color: #FFF;
  color: #000;
  width: 60%;
  text-align: center;
  border: 80px solid #04005F;
  border-right: 0px;
  margin-top: 50px;
}

.right1 {
  background-color: #04005F;
  color: #000;
  text-align: center;
  border: 80px solid #04005F;
  margin-top: 50px;
}

.type-2 {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
}

.left2 {
  background-color: #04005F;
  color: #000;
  text-align: center;
  border: 80px solid #04005F;
  margin-top: 50px;
}

.right2 {
  background-color: #FFF;
  color: #000;
  width: 60%;
  text-align: center;
  border: 80px solid #04005F;
  border-left: 0px;
  margin-top: 50px;
}

.doctor-header {
  font-size: 4vw;
}

.doctor-info {
  font-size: 1.5vw;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

#first-doctor,
#second-doctor,
#third-doctor,
#fourth-doctor,
#fifth-doctor,
#sixth-doctor,
#seventh-doctor,
#eighth-doctor,
#ninth-doctor,
#tenth-doctor,
#eleventh-doctor,
#twelfth-doctor,
#thirteenth-doctor {
  width: 100%;
}

.box-1-about {
  background-color: #FFF;
  color: #000;
  width: 80vw;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  border: 80px solid #04005F;
}

.paragraph {
  width: 94%;
  margin: 0 auto;
  margin-bottom:
}

.paragraph-last {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 100px;
}

.split {
  width: 80%;
}

.about-1 {
  width: 50%;
  height: 100%;
  border: 50px solid #04005F;
  background-color: #04005F;
  margin-right: 5%;
}

iframe {
  width: 60vw;
  height: 35vw;
  margin-top: 70px;
  margin-bottom: 50px;
}

img {
  width: 100%;
}
